.loader{
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    animation: spin 2s linear 1s infinite alternate;
}

@keyframes spin{
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}